:80 {
    encode gzip

    # API-Requests an das Backend weiterleiten
    handle_path /api* {
        reverse_proxy backend:8000
    }

    # Rest (Frontend) an nginx-Container
    reverse_proxy frontend:80

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
    }
}


# Für https (alles oberhalb auskommentieren)
#:443 {
#    tls internal
#    encode gzip

#    # Backend unter /api
#    handle_path /api* {
#        reverse_proxy backend:8000
#    }

#    # Frontend (statisch)
#    reverse_proxy frontend:80

#    header {
#        Strict-Transport-Security "max-age=31536000"
#        X-Content-Type-Options "nosniff"
#        X-Frame-Options "DENY"
#        Referrer-Policy "no-referrer-when-downgrade"
#    }
#}

## Optional: HTTP auf HTTPS umleiten (LAN)
#:80 {
#    redir https://{host}{uri}
#}
